{
  "openapi": "3.0.0",
  "info": {
    "description": "This is swagger documentation for matecat backend modified for Tilde.",
    "version": "1.0.0",
    "title": "Swagger Matecat"
  },
  "servers": [
    {
      "url": "http://local.matecat.com/",
      "description": "Local development server"
    },
    {
      "url": "https://hugodev.tilde.lv/mc",
      "description": "Development server"
    },
    {
      "url": "https://hugotest.tilde.lv/mc",
      "description": "Test server"
    },
    {
      "url": "https://hugo.lv/mc",
      "description": "Production server"
    }
  ],
  "paths": {
    "/profile": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "Get authorized user profile data",
        "operationId": "getProfile",
        "responses": {
          "200": {
            "description": "Returns authorized user profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Get paged file list",
        "operationId": "getFiles",
        "requestBody": {
          "description": "Specify page and page size",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Paging"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns paging info and file list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/analysis": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Get info about file segments and words",
        "operationId": "getFileAnalysis",
        "requestBody": {
          "description": "Specify project id and password",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectGetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retuns info about file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/urls": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Get file download links",
        "operationId": "getFileUrls",
        "requestBody": {
          "description": "Specify project id and password",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectGetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retuns file translation and original download links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUrls"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Profile": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "mt_pretranslate": {
            "type": "integer"
          },
          "tm_pretranslate": {
            "type": "integer"
          },
          "update_mt": {
            "type": "integer"
          },
          "uid": {
            "type": "integer"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "step": {
            "type": "integer",
            "minimum": 1,
            "default": 10
          }
        }
      },
      "ProjectGetter": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer"
          },
          "projectPassword": {
            "type": "string"
          }
        }
      },
      "FileInfo": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "wordCount": {
            "type": "integer"
          },
          "segmentCount": {
            "type": "integer"
          },
          "segmentsAnalyzed": {
            "type": "integer"
          },
          "jobId": {
            "type": "integer"
          },
          "jobPassword": {
            "type": "string"
          }
        }
      },
      "FileUrls": {
        "type": "object",
        "properties": {
          "translation": {
            "type": "string"
          },
          "original": {
            "type": "string"
          }
        }
      },
      "FileData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "createTimestamp": {
            "type": "integer"
          },
          "jobId": {
            "type": "integer"
          },
          "jobPassword": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          }
        }
      },
      "FileList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileData"
            }
          },
          "page": {
            "type": "integer"
          },
          "pageStep": {
            "type": "integer"
          },
          "totalFiles": {
            "type": "integer"
          }
        }
      }
    }
  }
}