{
  "openapi": "3.0.0",
  "info": {
    "description": "This is swagger documentation for matecat backend modified for Tilde.",
    "version": "1.0.0",
    "title": "Swagger Matecat"
  },
  "servers": [
    {
      "url": "http://local.matecat.com/",
      "description": "Local development server"
    },
    {
      "url": "https://hugodev.tilde.lv/mc",
      "description": "Development server"
    },
    {
      "url": "https://hugotest.tilde.lv/mc",
      "description": "Test server"
    },
    {
      "url": "https://hugo.lv/mc",
      "description": "Production server"
    }
  ],
  "paths": {
    "/profile": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "Get authorized user profile data",
        "operationId": "getProfile",
        "responses": {
          "200": {
            "description": "Returns authorized user profile data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Get paged file list",
        "operationId": "getFiles",
        "requestBody": {
          "description": "Specify page and page size",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Paging"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns paging info and file list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/upload": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Upload file",
        "operationId": "uploadFile",
        "requestBody": {
          "description": "Specify direction, mt system and pretranslate options",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/info": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Get file info",
        "operationId": "getFileInfo",
        "requestBody": {
          "description": "Specify project id and password",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectGetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/analysis": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Get info about file segments and words",
        "operationId": "getFileAnalysis",
        "requestBody": {
          "description": "Specify project id and password",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectGetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retuns info about file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileAnalysis"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/urls": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Get file download links",
        "operationId": "getFileUrls",
        "requestBody": {
          "description": "Specify project id and password",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectGetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retuns file translation and original download links",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUrls"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/stats": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Get info about whether file is analyzed and translated percents",
        "operationId": "getFileStats",
        "requestBody": {
          "description": "Specify project id and password",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectGetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns analysis status and translated percents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileStats"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/creation-status": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Get info about file creation status",
        "operationId": "getFileCreationStatus",
        "requestBody": {
          "description": "Specify project id and password",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectGetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns info whether file is created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileCreationStatus"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/delete": {
      "post": {
        "tags": [
          "files"
        ],
        "summary": "Delete file",
        "operationId": "deleteFile",
        "requestBody": {
          "description": "Specify project id and password",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProjectGetter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkStatus"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/segments": {
      "post": {
        "tags": [
          "segments"
        ],
        "summary": "Get all file segments",
        "operationId": "getSegments",
        "requestBody": {
          "description": "Specify segment search parameters",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SegmentSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns list by specified search params",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentList"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Profile": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "mt_pretranslate": {
            "type": "integer"
          },
          "tm_pretranslate": {
            "type": "integer"
          },
          "update_mt": {
            "type": "integer"
          },
          "uid": {
            "type": "integer"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "step": {
            "type": "integer",
            "minimum": 1,
            "default": 10
          }
        }
      },
      "ProjectGetter": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer"
          },
          "projectPassword": {
            "type": "string"
          }
        }
      },
      "FileAnalysis": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "wordCount": {
            "type": "integer"
          },
          "segmentCount": {
            "type": "integer"
          },
          "segmentsAnalyzed": {
            "type": "integer"
          },
          "jobId": {
            "type": "integer"
          },
          "jobPassword": {
            "type": "string"
          }
        }
      },
      "FileUrls": {
        "type": "object",
        "properties": {
          "translation": {
            "type": "string"
          },
          "original": {
            "type": "string"
          }
        }
      },
      "FileStats": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer"
          },
          "analysisComplete": {
            "type": "boolean"
          },
          "translatedPercent": {
            "type": "number"
          }
        }
      },
      "FileCreationStatus": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer"
          },
          "jobId": {
            "type": "integer"
          },
          "jobPassword": {
            "type": "string"
          },
          "projectName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "FileData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "createTimestamp": {
            "type": "integer"
          },
          "jobId": {
            "type": "integer"
          },
          "jobPassword": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          }
        }
      },
      "FileUpload": {
        "type": "object",
        "properties": {
          "source_language": {
            "type": "string",
            "default": "en-US"
          },
          "target_language": {
            "type": "string",
            "default": "lv-LV"
          },
          "mt_system": {
            "type": "string",
            "default": ""
          },
          "tm_pretranslate": {
            "type": "integer",
            "default": 0
          },
          "mt_pretranslate": {
            "type": "integer",
            "default": 0
          },
          "files": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      },
      "FileUploadResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "default": 1
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "data": {
            "type": "object",
            "properties": {
              "id_project": {
                "type": "integer"
              },
              "password": {
                "type": "string"
              }
            }
          }
        }
      },
      "OkStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "FileInfo": {
        "type": "object",
        "properties": {
          "activeSegmentId": {
            "type": "integer"
          },
          "editingTime": {
            "type": "integer",
            "description": "Editing time in seconds"
          },
          "fileName": {
            "type": "string"
          },
          "firstSegmentId": {
            "type": "integer"
          },
          "lastSegmentId": {
            "type": "integer"
          },
          "mtSystemid": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "default": "en-US"
          },
          "target": {
            "type": "string",
            "default": "lv-LV"
          },
          "tmPretranslate": {
            "type": "integer"
          },
          "mtPretranslate": {
            "type": "integer"
          },
          "synonymBaseUrl": {
            "type": "string"
          },
          "termBaseUrl": {
            "type": "string"
          }
        }
      },
      "FileList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileData"
            }
          },
          "page": {
            "type": "integer"
          },
          "pageStep": {
            "type": "integer"
          },
          "totalFiles": {
            "type": "integer"
          }
        }
      },
      "SegmentSearch": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "integer"
          },
          "projectPassword": {
            "type": "string"
          },
          "segment": {
            "type": "integer",
            "description": "Around which segment to search"
          },
          "where": {
            "type": "string",
            "description": "before, after or center"
          },
          "step": {
            "type": "integer"
          },
          "searchInSource": {
            "type": "string"
          },
          "searchInTarget": {
            "type": "string"
          },
          "searchInComments": {
            "type": "string"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "original": {
            "type": "string"
          },
          "translation": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "saveType": {
            "type": "string"
          },
          "saveMatch": {
            "type": "number"
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          }
        }
      },
      "SegmentList": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "integer"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Segment"
            }
          }
        }
      }
    }
  }
}