@import "~@shibetec/vue-toolbox/dist/less/shibetec-less";

.css-circle(@radius, @color) {
  border-radius: 50%;
  width: @radius;
  height: @radius;
  background-color: @color;
  display: inline-block;
}

.css-circle-rotating(@radius, @color-from, @color-mid, @color-to, @time: unit(@e, s)) {
  width: @radius;
  height: @radius;
  border-radius: 50%;
  display: inline-block;

  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, @color-from 0%, @color-mid 100%, @color-to 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, @color-from, @color-mid);
  background-image: radial-gradient(45px 45px 45deg, circle cover, @color-from 0%, @color-mid 100%, @color-to 95%);

  animation-name: spin;
  animation-duration: @time;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@color-red: #b71c1c;
@color-red-darker: #931C1C;
@color-green: #51b729;
@color-green-darker: #3e8124;
@color-yellow: #dbd54a;
@color-yellow-darker: #b7b149;
@border-radius: unit(@e * @golden, px);

/* FONT VARIABLES */
@size-3xl: 128px; @spacing-3xl: -6px; @lh-3xl: 128px;
@size-2xl: 72px;  @spacing-2xl: normal; @lh-2xl: 76px;
@size-xl: 48px;   @spacing-xl: -2px;  @lh-xl: 52px;
@size-l: 32px;    @spacing-l: normal;   @lh-l: normal;
@size-m: 26px;    @spacing-m: -0.5px; @lh-m: 40px;
@size-s: 16px;    @spacing-s: 0.1px;  @lh-s: 24px;
@size-xs: 14px;   @spacing-xs: 1px; @lh-xs: 20px;

@font-regular: 'Merriweather', serif;

.font-base {
  -webkit-font-smoothing: antialiased;
  font-family: @font-regular;
}

.size-3xl {
  .font-base;
  font-size: @size-3xl;
  line-height: @lh-3xl;
  letter-spacing: @spacing-3xl;
}
.size-2xl {
  .font-base;
  font-size: @size-2xl;
  line-height: @lh-2xl;
  letter-spacing: @spacing-2xl;
}
.size-xl {
  .font-base;
  font-size: @size-xl;
  line-height: @lh-xl;
  letter-spacing: @spacing-xl;
}
.size-l {
  .font-base;
  font-size: @size-l;
  line-height: @lh-l;
  letter-spacing: @spacing-l;
}
.size-m {
  .font-base;
  font-size: @size-m;
  line-height: @lh-m;
  letter-spacing: @spacing-m;
}
.size-s {
  .font-base;
  font-size: @size-s;
  line-height: @lh-s;
  letter-spacing: @spacing-s;
}
.size-s-i {
  -webkit-font-smoothing: antialiased;
  font-family: @font-regular !important;
  font-size: @size-s !important;
  line-height: @lh-s !important;
  letter-spacing: @spacing-s !important;
}
.size-xs {
  .font-base;
  font-size: @size-xs;
  line-height: @lh-xs;
  letter-spacing: @spacing-xs;
}

.bold {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background: @color-red;
}
::-webkit-scrollbar-track {
  opacity: 0;
}

.button {
  .border-box;
  .pointer;
  .size-s;
  .white;
  transition: all unit(@golden / 10, s) ease-in-out;

  text-align: center;

  height: @spacer-32;
  width: @spacer-128;

  border-radius: @border-radius;
  background-color: @color-red;
  border: solid 1px @color-dark;

  &:hover {
    outline: none !important;
    box-shadow: none;
    background-color: @color-red-darker;
  }
}

.h1 {
  .size-2xl;
  color: @color-dark;
  font-weight: normal;
}

h1 {
  .h1;
}

.h4 {
  .size-m;
  color: @color-dark;
  font-weight: normal;;
}

h4 {
  .h4;
}

.svg-icon {
  display: inline-block;
  cursor: pointer;
  transition: all unit(@golden / 10, s) ease-in-out;
  fill: @color-grey-darker;
  &:hover,
  &.active {
    fill: @color-red-darker;
  }
}

.confirmation-container {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: fade(@color-white, 90%);
  .border-box;
  .p-16;
  transition: all unit(@golden / 10, s) ease-in-out;
  border: solid 2px @color-grey;
  height: auto;
  .margin-center(720px);
  .text{
    .h4;
    text-align: center;
    margin-bottom: @spacer-32;
  }
  .confirm {
    .button;
    float: left;
    max-width: @spacer-128;
    margin-right: @spacer-96;
  }
  .cancel {
    .button;
    float: right;
    max-width: @spacer-128;
    background-color: @color-grey;
    &:hover {
      outline: none !important;
      box-shadow: none;
      background-color: @color-red-darker;
    }
  }
}


/* CUSTOM STYLES */

#fileUploader {
  display: none;
}

.file-dropoff {
  transition: all unit(@golden / 10, s) ease-in-out;
  border: solid 2px @color-grey;
  &.active {
    border: solid 2px @color-red;
  }
  height: @spacer-64;
  .file-upload-button {
    .mr-32;
    vertical-align: middle;
    width: @spacer-128;
  }
  .file-dropoff-note {
    display: inline-block;
    vertical-align: middle;
    .size-m;
  }
}

.file-list-container {
  .mt-16;
  .size-s;
  text-align: left;
  .status {
    width: @spacer-192;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .segments {
    width: 74px;
  }
  .words {
    width: 74px;
  }
  .translated {
    width: 74px;
  }
  .created {
    width: 160px;
  }
  .created-by {
    width: 220px;
  }
  .last-modified {
    width: 160px;
  }
  .controls {
    width: 201px;
  }
  .file-list-header {
    .mb-8;
    div {
      display: inline-block;
    }
  }
  @file-row-height: 50px;
  .file-list {
    .file-row {
      .border-box;
      display: block;
      border-bottom: solid 1px @color-light-darker;
      height: @file-row-height;
      .va-middle;
      .pb-8;
      .column {
        line-height: @file-row-height;
        display: inline-block;
        .status-circle {
          .va-middle;
          .mr-8;
          &.file-new {
            .css-circle(@spacer-24, @color-red);
          }
          &.file-draft {
            .css-circle(@spacer-24, @color-yellow);
          }
          &.file-complete {
            .css-circle(@spacer-24, @color-green);
          }
        }
      }
    }
    .additional-row {
      display: inline-block;
      height: @file-row-height;
      line-height: @file-row-height;
      .va-top;
    }
  }
  .file-list-button {
    .w-128;
    display: inline-block;
  }
}

.language-selector {
  width: @spacer-256;
  &.subject {
    width: 400px;
  }
  display: inline-block;
  .mr-16;
  .input-label {
    .size-s;
    .bold;
    .mb-4;
    display: block;
  }
  .select-container {
    .size-s-i;
  }
}

.toolbox-container {
  .bb-light-darker;
  .mb-16;
  .pb-8;
}

.v-select {
  button {
    &.clear {
      display: none;
    }
  }
  input {
    &.form-control {
      width: 1% !important;
    }
  }
  &.open {
    input {
      &.form-control {
        width: auto !important;
      }
    }
  }
}
