@import "~@shibetec/vue-toolbox/dist/less/shibetec-less";

.absolute-right {
  position: absolute;
  top: 0;
  right: 0;
}

.w-135 {
  width: 135px;
}

.w-510 {
  width: 510px;
}

@file-row-height: @spacer-48;

@color-red: #b71c1c;
@color-red-darker: #931C1C;
@color-green: #51b729;
@color-green-darker: #3e8124;
@color-yellow: #dbd54a;
@color-yellow-darker: #b7b149;
@color-grey-light: #eceff1;
@color-blueish: #cfd8dc;
@color-blueish-darker: #78909c;
@color-blueish-darker-still: #557c8f;
@border-radius: unit(@e * @golden, px);

.red {
  color: @color-red;
}

/* FONT VARIABLES */
@size-3xl: 128px; @spacing-3xl: -6px; @lh-3xl: 128px;
@size-2xl: 72px;  @spacing-2xl: normal; @lh-2xl: 76px;
@size-xl: 48px;   @spacing-xl: -2px;  @lh-xl: 52px;
@size-l: 32px;    @spacing-l: -0.5px;   @lh-l: 44px;
@size-m: 26px;    @spacing-m: -0.5px; @lh-m: 40px;
@size-s: 15px;    @spacing-s: 0px;  @lh-s: 24px;
@size-xs: 13px;   @spacing-xs: 0.2px; @lh-xs: 20px;

@font-regular: 'Merriweather', serif;
@font-basic: 'Arial';

.font-base {
  -webkit-font-smoothing: antialiased;
  font-family: @font-regular;
}

.size-3xl {
  .font-base;
  font-size: @size-3xl;
  line-height: @lh-3xl;
  letter-spacing: @spacing-3xl;
}
.size-2xl {
  .font-base;
  font-size: @size-2xl;
  line-height: @lh-2xl;
  letter-spacing: @spacing-2xl;
}
.size-xl {
  .font-base;
  font-size: @size-xl;
  line-height: @lh-xl;
  letter-spacing: @spacing-xl;
}
.size-l {
  .font-base;
  font-size: @size-l;
  line-height: @lh-l;
  letter-spacing: @spacing-l;
}
.size-m {
  .font-base;
  font-size: @size-m;
  line-height: @lh-m;
  letter-spacing: @spacing-m;
  font-family: @font-basic;
}
.size-s {
  .font-base;
  font-size: @size-s;
  line-height: @lh-s;
  letter-spacing: @spacing-s;
  font-family: @font-basic;
}
.size-s-i {
  -webkit-font-smoothing: antialiased;
  font-family: @font-basic !important;
  font-size: @size-s !important;
  line-height: @lh-s !important;
  letter-spacing: @spacing-s !important;
}
.size-xs {
  .font-base;
  font-size: @size-xs;
  line-height: @lh-xs;
  letter-spacing: @spacing-xs;
  font-family: @font-basic;
}

.bold {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background: @color-red;
}
::-webkit-scrollbar-track {
  opacity: 0;
}

.bg-grey-light {
  background-color: @color-grey-light;
}

.bg-blueish {
  background-color: @color-blueish;
}

.bb-blueish {
  border-bottom: solid 1px @color-blueish;
}

.b-blueish {
  border: solid 1px @color-blueish;
}

.bb-blueish-darker {
  border-bottom: solid 1px @color-blueish-darker;
}

.page-container {
  max-width: 100%;
  min-width: 1280px;
}

.section-bg {
  position: relative;
  width: 100%;
  .section {
    position: relative;
    .margin-center(1184px);
  }
}

.button {
  .border-box;
  .pointer;
  .size-s;
  .white;
  transition: all unit(@golden / 10, s) ease-in-out;

  text-align: center;

  height: @spacer-40;
  min-width: @spacer-128;

  background-color: @color-red;
  border: solid 1px @color-dark;

  &:hover {
    outline: none !important;
    box-shadow: none;
    background-color: @color-red-darker;
  }
}

.h1 {
  .size-2xl;
  color: @color-dark;
  font-weight: normal;
}

.h2 {
  .size-l;
  .dark;
  .bold;
}

.h4 {
  .size-m;
  color: @color-dark;
  font-weight: normal;;
}

body {
  .size-s;
}

.link {
  .transition;
  color: @color-red;
  .size-s;
  cursor: pointer;
  &:hover {
    color: @color-red-darker;
  }
}

.svg-icon {
  display: inline-block;
  cursor: pointer;
  .transition;
  fill: @color-red;
  &:hover,
  &.active {
    fill: @color-red-darker;
  }
  &.icon-green {
    &:hover,
    &.active {
      fill: @color-green;
    }
  }
  &.icon-yellow {
    &:hover,
    &.active {
      fill: @color-yellow-darker;
    }
  }
  &.icon-white {
    fill: @color-white;
    &:hover,
    &.active {
      fill: @color-light;
    }
  }
  &.icon-blueish-darker-still {
    fill: @color-blueish-darker-still;
    &:hover,
    &.active {
      fill: @color-blueish-darker-still;
    }
  }
  &.placeholder {
    position: absolute;
    top: 9px;
    left: 9px;
  }
}

.modal-container {
  background-color: fade(@color-white, 90%);
  .border-box;
  .p-16;
  transition: all unit(@golden / 10, s) ease-in-out;
  border: solid 2px @color-grey;
  height: auto;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  .margin-center(720px);
}

.confirmation-container {
  .modal-container;
  .text{
    .h4;
    text-align: center;
    margin-bottom: @spacer-32;
  }
  .confirm {
    .button;
    float: left;
    max-width: @spacer-128;
    margin-right: @spacer-96;
  }
  .cancel {
    .button;
    float: right;
    max-width: @spacer-128;
    background-color: @color-grey;
    &:hover {
      outline: none !important;
      box-shadow: none;
      background-color: @color-red-darker;
    }
  }
}


/* CUSTOM STYLES */

#fileUploader {
  display: none;
}

.file-selector-container {
  .bg-white;
  .b-blueish;
  .border-box;
  .p-16;
  cursor: pointer;
  &.active {
    .file-dropoff {
      border: solid 1px @color-red-darker;
    }
  }
  .file-dropoff {
    color: @color-red;
    text-align: center;
    transition: all unit(@golden / 10, s) ease-in-out;
    border: dashed 1px @color-blueish-darker;
    height: 72px;
    max-width: 100%;
    min-width: 300px;
    .file-upload-button {
      .mr-32;
      vertical-align: middle;
      width: @spacer-128;
    }
    .file-dropoff-note {
      display: inline-block;
      vertical-align: middle;
      .size-s;
    }
  }
}


.file-list-container {
  .mt-32;
  .size-xs;
  text-align: left;
  .status {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .segments {
    .w-96;
  }
  .words {
    .w-96;
  }
  .translated {
    .w-96;;
  }
  .created {
    .w-192;
  }
  .created-by {
    width: 220px;
  }
  .last-modified {
    width: 160px;
  }
  .controls {
    width: 301px;
  }
  .file-list-header {
    .pb-4;
    .bold;
    .bb-blueish;
    div {
      display: inline-block;
      .va-top;
    }
  }
  .file-list {
    .file-row {
      .size-s;
      .border-box;
      display: block;
      border-bottom: solid 1px @color-light-darker;
      height: @file-row-height;
      line-height: @file-row-height;
      .va-middle;
      .pb-8;
      .column {
        line-height: @file-row-height;
        display: inline-block;
        .status-circle {
          .va-middle;
          .mr-8;
          &.file-new {
            .css-circle(@spacer-24, @color-red);
          }
          &.file-draft {
            .css-circle(@spacer-24, @color-yellow);
          }
          &.file-complete {
            .css-circle(@spacer-24, @color-green);
          }
        }
      }
    }
    .additional-row {
      display: inline-block;
      height: @file-row-height;
      line-height: @file-row-height;
      .va-top;
    }
  }
  .file-list-button {
    .w-128;
    display: inline-block;
  }
}

.language-selector {
  width: @spacer-256;
  &.subject {
    width: 256px;
  }
  display: inline-block;
  .mr-16;
  .select-container {
    .size-s-i;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid fade(@color-red, 80%);
  border-bottom: 5px solid transparent;
  transform: rotate(0deg);
  transform-origin: center 25%;
}

.input {
  height: @spacer-40;
  border: solid @color-blueish 1px;
  border-radius: 0;
  line-height: @spacer-40;
  padding: 0 @spacer-16;
  &.w-placeholder {
    .pl-40;
  }
  .size-s;
  .dark;
  &::-webkit-input-placeholder {
    color: @color-blueish-darker-still;
  }
  &::-moz-placeholder {
    color: @color-blueish-darker-still;
  }
  &:-ms-input-placeholder {
    color: @color-blueish-darker-still;
  }
  &:focus {
    border-color: fade(@color-red-darker, 50%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px fade(@color-red-darker, 30%);
    outline: 0 none;
  }
  &.select {
    background-color: @color-white;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.select-container {
  position: relative;
  display: inline-block;
}

.select-arrow {
  position: absolute;
  top: 18px;
  right: 10px;
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0;
  border-color: @color-red transparent transparent;
}

select::-ms-expand {
  display: none;
}

.input-label {
  .size-xs;
  .bold;
  .mb-8;
  display: block;
}

.toolbox-container {
  .mt-16;
  .mb-16;
}

.v-select {
  .dropdown-toggle {
    .transition;
    height: @spacer-40;
    border: solid @color-blueish 1px !important;
    border-radius: 0 !important;
    line-height: @spacer-40 !important;
  }
  button {
    &.clear {
      display: none;
    }
  }
  input {
    &.form-control {
      width: 1% !important;
    }
  }
  &.open {
    input {
      &.form-control {
        width: auto !important;
      }
    }
    .open-indicator {
      &:before {
        transform: rotate(180deg) !important;
        transform-origin: center 25% !important;
      }
    }
  }
  .open-indicator {
    bottom: 1px !important;
    &:before {
      width: 0;
      height: 0;
      border-left: 5px solid transparent !important;
      border-right: 5px solid transparent !important;
      border-top: 5px solid fade(@color-red, 80%) !important;
      border-bottom: 5px solid transparent !important;
      transform: rotate(0deg) !important;
      transform-origin: center 25% !important;
    }
  }
}

.translator-input {
  .transition;
  height: @spacer-40;
  border: solid @color-blueish 1px;
  padding: 0 8px;
  box-sizing: border-box;
  .size-s;
  &:focus,
  &:hover {
    outline: none;
    border: solid @color-red-darker 1px;
  }
}

.translator-container {
  max-width: 1200px;
  display: inline-block;
  .segments-container {
    height: 620px;
    overflow-y: scroll;
  }
  .translator-section {
    background-color: fade(@color-grey-light, 98%);
    transition: all unit(@golden / 10, s) ease-in-out;
    margin-bottom: @spacer-8;
    max-width: 100%;
    &.segment-section {
      padding-left: 0;
      @section-height: 200px;
      .section {
        font-size: 0;
      }
      .column {
        display: inline-block;
        height: @section-height;
        vertical-align: top;
        &.number {
          .size-s;
          line-height: @section-height;
          border-right: solid 2px @color-white;
          padding: 0 @spacer-4;
          background-color: fade(@color-grey-light, 98%);
          width: @spacer-48;
          text-align: center;
        }
        &.content {
          transition: all unit(@golden / 10, s) ease-in-out;
          padding: 0 @spacer-16;
          &.active {
            background-color: @color-light;
            box-shadow: inset 0 0 3px @color-grey;
            border-radius: 5px;
          }
          .tags-row {
            height: @spacer-32;
          }
          textarea {
            height: @section-height - @spacer-32 - @spacer-16;
            margin-bottom: @spacer-8;
            width: 498px;
            resize: none;
          }
        }
        &.divider {
          height: @section-height - @spacer-32 - 11px;
          line-height: @section-height - @spacer-32 - 11px;
          margin: 0 @spacer-8 11px @spacer-8;
          vertical-align: bottom;
          background-color: fade(@color-grey-light, 98%);
        }
        &.controls {
          margin-left: @spacer-8;
          .icon-container {
            &:first-child {
              margin-top: @spacer-32;
            }
            margin-bottom: @spacer-8;
            display: block;
          }
        }
      }
    }
    &.toolbox {
      input {
        .translator-input;
        width: @spacer-256;
        &:first-child,
        &:nth-child(2) {
          width: 400px;
        }
      }
    }
    .icon-container {
      .border-box;
      transition: all unit(@golden / 10, s) ease-in-out;
      height: @spacer-32;
      line-height: @spacer-32;
      display: inline-block;
      border: 1px solid grey;
      border-radius: 3px;
      cursor: pointer;
      vertical-align: top;
      &:hover {
        color: @color-red-darker;
        -webkit-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);
      }
    }
  }
}

.translator-assistant {
  display: inline-block;
  vertical-align: top;
  margin-left: @spacer-8;
  .assistant-menu {
    height: @spacer-32;
    margin-top: @spacer-24;
    .assistant-nav {
      display: inline-block;
      .size-s;
      margin-right: @spacer-16;
      cursor: pointer;
      .transition;
      &:hover,
      &.active {
        border-bottom: solid 2px @color-red;
      }
    }
  }
  select {
    .translator-input;
    background-color: @color-white;
  }
  .shortcut-row {
    margin-bottom: @spacer-4;
    padding-bottom: @spacer-4;
    .bb-grey;
    .shortcut-buttons {
      display: inline-block;
      width: @spacer-192;
      .shortcut-button {
        .b-grey;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: auto;
        padding: @spacer-4 @spacer-8;
        text-align: center;
        display: inline-block;
      }
    }
    .shortcut-info {
      display: inline-block;
      width: @spacer-256;
    }
  }
}

.slider-container {
  .transition;
  max-height: 0;
  overflow: hidden;
  &.open {
    max-height: 233px;
  }
}

.head-control {
  .h-48;
  line-height: @spacer-48;
  cursor: pointer;
  &.settings {
    position: absolute;
    top: 0;
    right: 0;
  }
  .link {
    position: relative;
    top: unit(@golden, px);
  }
  .chevron {
    .transition;
    transform: rotate(90deg);
    &.open {
      transform: rotate(-90deg);
    }
  }
}

.pager-container {
  .pages {
    .ib;
    width: 100%;
    text-align: center;
  }
}

.white-button {
  .va-top;
  .ib;
  .border-box;
  .transition;
  width: 116px;
  .link {
    width: 69px;
    line-height: @spacer-48;
  }
  &.active {
    .bg-grey-light;
  }
  .h-48;
  line-height: @spacer-48;
  background-color: @color-white;
  &.button-red {
    background-color: @color-red;
    .link {
      color: @color-white;
      .bold;
    }
  }
  border: solid 1px @color-blueish;
  cursor: pointer;
  &:hover {
    border: solid 1px @color-blueish-darker;
  }
  .white-button-icon {
    .ib;
    .w-40;
    height: @spacer-48;
    line-height: @spacer-48;
    .center;
  }
  &.big {
    position: absolute;
    top: 0;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  &.small {
    .w-48;
    .mr-8;
    &:last-child {
      .mr-0;
    }
    .link {
      .w-48;
      .h-48;
    }
  }
  &.xs {
    .w-40;
    .h-40;
    margin-right: 2px;
    &:last-child {
      .mr-0;
    }
    .link {
      .w-40;
      .h-40;
      line-height: @spacer-40;
      .va-top;
      .ml-4;
    }
    .white-button-icon {
      .svg-icon {
        position: relative;
        top: 2px;
        left: -1px;
      }
      .ib;
      .w-40;
      .h-40;
      line-height: @spacer-40;
      .center;
    }
    &.wide {
      .w-96;
      .link {
        .w-96;
      }
    }
    &.x-wide {
      .w-128;
      .link {
        width: 76px;
        position: relative;
        left: -13px;
      }
    }
  }

}

.bread-crumbs {
  .pt-24;
  .size-xs;
  .dark;
  .bc-nav {
    .red;
    cursor: pointer;
    .ib;
    .mr-8;
    .ml-8;
    &:first-child {
      .ml-0;
    }
    &:last-child {
      .mr-0;
    }
    &.inactive {
      .dark;
      cursor: default;
    }
  }
}

.header-container {
  .bg-grey-light;
  width: 100%;
  .h-64;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  .size-s;
  .dark;
  line-height: @spacer-64;
  .profile-img {
    max-width: @spacer-48;
    max-height: @spacer-48;
    .va-middle;
  }
  .h-title {
    .size-s;
    .h-64;
    line-height: @spacer-64;
    .ib;
    .va-top;
    .bold;
    .ml-16;
    .mr-24;
  }
}

.icon-span {
  .ib;
  height: @file-row-height;
  line-height: @file-row-height;
}

.icon-span,
.head-control,
.white-button {
  &:hover {
    .link {
      color: @color-red-darker;
    }
    .svg-icon {
      fill: @color-red-darker;
    }
  }
}

.white-button {
  &.button-red {
    &:hover {
      .link {
        color: @color-light;
      }
      .svg-icon {
        fill: @color-light;
      }
    }
  }
}
